global
	log				127.0.0.1:514  local0
	log				127.0.0.1:514  local1 notice
	#log /dev/log	local0
	#log /dev/log	local1 notice

	chroot			/var/lib/haproxy
	user				haproxy
	group			haproxy
	daemon
	maxconn		2000
	tune.ssl.default-dh-param	4000

	#stats			socket	/run/haproxy/admin.sock mode 660 level admin expose-fd listeners # debian
	#stats			socket /var/lib/haproxy/stats mode 660 level admin expose-fd listeners # alpine
	stats			timeout	30s

	# Default SSL material locations
	#ca-base /etc/ssl/certs
	ca-base		/etc/server/ssl/certs
	#crt-base /etc/ssl/private
	crt-base		/etc/server/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers	ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options	no-sslv3

# Look in /etc/haparoxy/conf-enabled to see extra enabled configuration files
