#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]
# Point the following paths to different dedicated disks
#tmpdir= /tmp/

################ binary log
#
# activate and if given the path of bin logs
# binary logging is required for replication
log_bin = _MDB_PATH_BINLOG/mariadb-bin
# File that holds the names for last binlog files
log_bin_index = _MDB_PATH_BINLOG/mariadb-bin.index
# Relay log basename. If not set, the basename will be hostname-relay-bin
relay_log = _MDB_PATH_BINLOG/relay-bin
# Name and location of the relay log index file, the file that keeps a list of the last relay logs
relay_log_index = _MDB_PATH_BINLOG/relay-bin.index
# binary logging format - mixed recommended
binlog-format = mixed
# mas file size for bin logs, overhead rotates the file
max_binlog_size = _MDB_MS_MAX_BIN_SIZE
# days after which the binary log can be automatically removed
expire_logs_days = _MDB_MS_EXPIRE_LOGS_DAYS

################ replication
#
# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server_id = _MDB_MS_SLAVE_ID
# The host name or IP address the replica reports to the primary when it registers
report_host = slave_MDB_MS_SLAVE_ID
# databases name to use for bin log
#binlog-do-db =
# databases name to ignore for bin log
#binlog-ignore-db =
# restrict database names used for replication
#replicate-do-db =
# database names to exclude of replication
#replicate-ignore-db =
# restrict table names used for replication
#replicate-do-table =
# table names to exclude of replication
#replicate-ignore-table =
# bind databases between master and slave if db name are different
#replicate-rewrite-db = dbmastername -> dbslavename

# This group is only read by MariaDB-10.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.5]
